*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*======== HEADER & NAV ==========*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #8b5cf6;
    z-index: var(--z--fixed);
    transition: background-color .2s, box-shadow .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo{
    color: #eff6ff;
    font-weight: bold;
    transition: color 4s;
}

.nav__toggle,
.nav__close{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;

}

.nav__toggle {
    color: #eff6ff;
    transition: color .4s;
}

.nav__close {
    color: var(--title-color);
}

@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top:-100%;
        left:0;
        background-color:#eef2ff;
        width: 100%;
        box-shadow: 0 12px 24px;
        padding-block: 5rem 4rem;
        transition: top .4s;

    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav__link {
   color: var(--title-color);
   font-weight: var(--font-semi-bold);
   transition: color .4s;
}

.nav__link:hover{
    color: #eef2ff;
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

.show-menu{
   top:0; 
}